* {
    box-sizing: border-box;
}
body {
    background: url(../images/car_logos_collage.jpg);
}
header {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 20px;
}
.background {
    background-color: #fff;
    width: 960px;
    margin: auto;
    text-align: center;
    padding: 50px;
}
#message {
    font-size: 35px;
    font-weight: bold;
}